body {
        font-family: 'Roboto', sans-serif;
        background-image: url('/static/images/background_white.jpg');
        background-size: 100%;
}

input[type=text], input[type=email], input[type=password] {
    border-radius: 7px;
    border: 1px solid #111
}

button, input[type=submit] {
    padding: 5px 8px;
    background: #4682B4;
    color: #fff;
    border-radius: 5px;
    border: none;
}

a {
    color: #696969;
    text-decoration: overline;
}

a:hover {
    color: #D2691E;
}

.menu li {
    display: inline-block;
    padding: 10px;
}

.menu {
    text-align: center;
}

.menu li a {
    padding: 10px;
    border: 1px solid black;
}

.content_article{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.content_article li {
    margin: 10px;
}

.coment_li {
    margin-bottom: 10px;
}

.formitem {
    display: flex;
    width: 300px;
    margin: 20px auto;
}

.formitem div {
    width: 50%;
}

.btn_add {
    text-align: center;
}

.form_reg {
    list-style-type: none;
    width: 700px;
    margin: 10px auto;
}

.form_reg li {
    display: flex;
    margin: 10px auto;
}

.form_reg li label {
    display: block;
    width: 50%;
}

h2 {
    text-align: center;
    margin: 40px;
}

.user_panel {
    display: flex;
    width: 600px;
    margin: 10px auto;
}

.user_panel div:last-child {
    margin: 15px;
}

.btn {
    padding: 5px 8px;
    background: #F4A460;
    color: #fff
    border-radius: 5px:
}

.btn_in_f {
    padding: 5px 8px;
    background: #7FFF00;
    color: #fff
    border-radius: 5px:
}

.chat_content{
    width: 600px;
    margin: 20px auto;
}

.chat_message_item p:first-child{
    font-weight: bold;
    font-size: 16px;
}

.chat_message_item {
    border: 2px solid #333;
    border-radius: 6px;
    margin: 4px;
    padding: 10px;
}

.chat_list {
    overflow-y: scroll;
    height: 300px;
}

.users_list {
    width: 700px;
    margin: 20px auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.users_list li {
    display: block;
    width: 100px;
    margin: 10px;
}

.users_list li img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.users_list li{
    text-align: center;
}

.filter {
    width: 300px;
    margin: 10px auto;
}

.slick-list {
    height: 400px !important;
    padding: 0px !important;
    overflow: hidden;
    width: 100%;
}

.slick-prev:before, .slick-next:before{
    color: #000 !important;
}