<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="/static/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css">
</head>
<body>
    <header>
        <h2 align="center">Шапка сайта</h2>
    </header>
    <ul class="menu">
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/contacts">Контакты</a>
        </li>
        {% if not 'login' in request.session %}
        <li>
            <a href="/reg">Регистрация</a>
        </li>
        <li>
            <a href="/auth">Авторизация</a>
        </li>
        {% endif %}
        {% if 'login' in request.session %}
        <li>
            <a href="panel/">Личная понель</a>
        </li>
        <li>
            <a href="{% url 'snake' %}">Игра змейка</a>
        </li>
        <li>
            <a href="/user/mystory">Мои записи</a>
        </li>
        <li>
            <p>{{request.session.login}}</p>
        </li>
        <li>
            <a href="/users">Список пользователей</a>
        </li>
        {% endif %}
        <li>
            <a href="/articles">Статьи</a>
        </li>
    </ul>
    {% block content %}{% endblock %}
    <footer>
        <p align="center">Футер сайта</p>
    </footer>
    <script src="/static/js/jquery-3.7.1.min.js" type="text/javascript"></script>
    <script>
    function setCookie(name, value, days) {
            var expires = "";

            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }

            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var cookies = document.cookie.split(';');

            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i];
                while (cookie.charAt(0) === ' ') {
                    cookie = cookie.substring(1, cookie.length);
                }
                if (cookie.indexOf(nameEQ) === 0) {
                    return cookie.substring(nameEQ.length, cookie.length);
                }
            }

            return null;
        }

        $('#mode').on('click', function(){
            let l = $('#mode').prop("checked");
            if(l){
                $('body').css('background-image', 'url(/static/images/background_black.jpg)');
                $('body').css('color', '#fff');
                setCookie('mode', 'black', 1);
            }
            else{
                $('body').css('background-image', 'url(/static/images/background_white.jpg)');
                $('body').css('color', '#000');
                setCookie('mode', 'white', 1);
            }
        });

        let mode = getCookie('mode');
        if(mode == 'black'){
            $('body').css('background-image', '#000');
            $('body').css('color', '#fff');
            $('#mode').prop("checked", true);
        };
        if(mode == 'white'){
            $('body').css('background-image', 'url(/static/images/background_white.jpg)');
            $('body').css('color', '#000');
            $('#mode').prop("checked", false);
        };
    </script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="/static/slick/slick.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
        $(document).on('ready', function() {
          $(".vertical-center").slick({
            dots: true,
            vertical: true,
            centerMode: true,
            autoplay: true,
          });
        });
  </script>
</body>
</html>